/**
 * checkbox美化带动效
 * TODO:
 *    $0.indeterminate = true 部分选中效果
 */
@keyframes checkbox {
  .checkbox-keyframes
}

@-webkit-keyframes checkbox {
  .checkbox-keyframes
}

@-moz-keyframes checkbox {
  .checkbox-keyframes
}

@-ms-keyframes checkbox {
  .checkbox-keyframes
}

@-o-keyframes checkbox {
  .checkbox-keyframes
}

.checkbox-keyframes () {
  0% {
    .transform(scale(0))
  }

  100% {
    .transform(scale(1))
  }

}

.bx-anim-input[type="checkbox"] {
  .appearance(none);
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  .box-sizing(border-box);
  margin: 0;
  .transition(border-color 0.3s ease-out);
  border-radius: 3px;
  overflow: hidden;

  /* ie hack */
  &:checked {
    border: none;
    &:after {
      color: white;
      content: '';
      border-radius: 3px;
      background-color: #FF4C00;
      background-image: url(https://img.alicdn.com/tps/TB1bSBzLVXXXXXfXFXXXXXXXXXX-1000-1000.svg);
      background-size: 100%;
      width: 100%;
      height: 100%;
      font-size: 14px;
      position: absolute;
      left: 0;
      top: 0;
      .animation(checkbox 0.1s ease-out, forwards);
    }

  }

  &:hover {
    border-color: #999;
  }

  &:focus {
    outline: none;
  }

}

/**
* radio美化带动效
*/
@keyframes radio {
  .radio-keyframes
}

@-webkit-keyframes radio {
  .radio-keyframes
}

@-moz-keyframes radio {
  .radio-keyframes
}

@-ms-keyframes radio {
  .radio-keyframes
}

@-o-keyframes radio {
  .radio-keyframes
}

.radio-keyframes () {
  0% {
    .transform(scale(0));
    opacity: 0;
  }

  50% {
    .transform(scale(1.3))
  }

  100% {
    .transform(scale(1));
    opacity: 1;
  }

}

.bx-anim-input[type="radio"] {
  .appearance(none);
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  .box-sizing(border-box);
  margin: 0;
  .transition(border-color 0.3s ease-out);
  border-radius: 50%;
  overflow: hidden;

  /* ie hack */
  &:checked {
    &:after {
      content: '';
      border-radius: 100%;
      background-color: #FF4C00;
      width: 50%;
      height: 50%;
      font-size: 14px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -25%;
      margin-left: -25%;
      .animation(radio 0.2s ease-out, forwards);
    }

  }

  &:hover {
    border-color: #999;
  }

  &:focus {
    outline: none;
    border-color: #ccc;
  }

}